.container {
  z-index: 10;
  font-size: calc(2vw + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1200px;
  height: 830px;
}

.container p {
  height: 50px;
  width: 50px;
  animation-name: wiggle-reverse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  margin: 0.2rem;
  border-bottom: 2px solid black;
  border-top: 2px solid white;
}

@keyframes wiggle-reverse {
  from {
    transform: rotate(0deg);
  }

  /* 50% {
    transform: rotate(360dg);
  } */

  100% {
    transform: rotate(360deg);
  }
}
